# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://pmf_user:pmf_password@localhost:5432/pmf_dev_db?schema=public"

JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="1h"